@{
    ViewData["Title"] = "Home Page";
}

@if((bool)ViewData["IsBotRunning"]) {
    <div class="text-center">
        <h1 class="display-4">Success</h1>
    </div>
} else
{
    <div class="text-center">
        <h1 class="display-4">Failure</h1>
    </div>
}
